body{
background:#0a0a0a;
color:white;
font-family:monospace;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
text-align:center;
background:#111;
padding:40px;
border-radius:10px;
}

input{
padding:12px;
background:#000;
border:1px solid #333;
color:white;
}

button{
padding:12px;
margin:5px;
background:#1e1e1e;
border:none;
color:white;
cursor:pointer;
}
